<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CodaAuthorString</key>
	<string>Till Krüss</string>
	<key>CodaDescriptionString</key>
	<string>Auto-completion for WordPress 4.0 functions.</string>
	<key>CodaIconMaskTintString</key>
	<string>#1e8cbe</string>
	<key>CFBundleIdentifier</key>
	<string>com.hive12.coda.completions.wordpress-additions</string>
	<key>CFBundleName</key>
	<string>WordPress Additions</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>7</string>
	<key>CodaPlugInSupportedAPIVersion</key>
	<integer>7</integer>
	<key>NSHumanReadableCopyright</key>
	<string>© 2014 Till Krüss.</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.1</string>
	<key>CFBundleVersion</key>
	<string>1.1.1</string>
	<key>CFBundleGetInfoString</key>
	<string>1.1.1, Copyright Till Krüss, 2014</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>ModeIdentifiers</key>
	<array>
		<string>SEEMode.PHP-HTML</string>
	</array>
</dict>
</plist>
